@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-white {
  text-shadow: 2px 0 0 #add9e52e, -2px 0 0 #add9e538, 0 2px 0 #add9e5bf, 0 -2px 0 #add9e5bf, 1px 1px #add9e5bf, -1px -1px 0 #add9e5bf, 1px -1px 0 #add9e5bf, -1px 1px 0 #add9e5bf;
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
  text-shadow: none;
}

.btn {
    @apply py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

.card {
    @apply rounded overflow-hidden shadow-lg;
}